:root{
    /* primary */
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);

    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);

    /* Dark Theme */

    --dark-toggle-theme: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));

    /* Light Theme */

    --light-toggle-theme: hsl(230, 22%, 74%);

    /* Neutral Dark Theme */

    --main-bg-color: hsl(230, 17%, 14%);
    --main-top-bg-pattern-color: hsl(232, 19%, 15%);
    --card-bg-color: hsl(228, 28%, 20%);
    --card-text-color: hsl(228, 34%, 66%);
    --white: hsl(0, 0%, 100%);

    /* Neutral Light theme */

    --light-main-top-bg-pattern-color: hsl(225, 100%, 98%);
    --light-card-bg-color: hsl(227, 47%, 96%);
    --light-card-text-color: hsl(228, 12%, 44%);
    --light-card-main-text-color: hsl(230, 17%, 14%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--main-bg-color);
}

.nothing{
    background-color: var(--main-top-bg-pattern-color);
    z-index: -1;
    position: absolute;
    height: 30%;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 2rem 5rem;
}

main{
    display: grid;
    grid-template-rows: auto auto;
    width: 70%;
    margin: 2rem 5rem;
}

h1{
    font-size: 1.5rem;
    margin-bottom: .3rem;
    font-weight: 700;
}

.dashboard p, .toggle p{
    color: var(--card-text-color);
    font-size: 14px;
    font-weight: 700;
}

/* toogle button */

.toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}



.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;
    margin-left: .5em;
    border-radius: 30px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: var(--main-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}


input[type="checkbox"]:not(:checked) + .slider {
    background: var(--dark-toggle-theme);
}
  

input:checked + .slider {
    background-color: var(--light-toggle-theme);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--white);
}

.slider {
    border-radius: 34px;
}

.dashboard-line{
    display: none;
}

.dashboard p, .toggle label, .social-id p, .Followers, .daily{
    color: var(--card-text-color);
}

h1, h2, .followers, .daily-count{
    color: var(--white);
}

/* profile */

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
}

.social{
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg-color);
    cursor: pointer;
    border-radius: 7px;
}

.social:hover, .daily-overview:hover{
    filter: brightness(130%);
}

.social-color{
    height: .25rem;
    width: 100%;
    border: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.fb{
    background-color: var(--Facebook);
}

.tweet{
    background-color: var(--Twitter);
}

.insta{
    background: var(--Instagram);
}

.yt{
    background-color: var(--YouTube);
}


.social-id{
    margin: 30px 0 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-id p{
    font-size: 14px;
    font-weight: 400;
}

.followers{
    font-size: 50px;
    font-weight: 700;
}

.Followers{
    letter-spacing: 5px;
}

.daily-update{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 700;
}

.facebook, .twitter, .instagram .daily-update p{
    color: var(--Lime-Green);
}

.youtube .daily-update p{
    color: var(--Bright-Red);
}



/* overview */

.overview{
    display: grid;
    grid-template-columns: auto;
    margin-top: 50px;
}

h2{
    font-size: 1.5rem;
    margin-bottom: 25px;
    font-weight: 700;
}

.total-overview{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.daily-overview{
    background-color: var(--card-bg-color);
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
}

.daily{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    font-size: 14px;
    font-weight: 400;
}

.daily img{
    height: 15px;
}

.daily-count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.daily-count>p{
    font-size:24px;
    font-weight: 700;
}

.daily-percentage{
    display: flex;
    align-items: center;
    gap: 5px;
}

.daily-percentage .increase-green, .decrease-red{
    font-size: 10px;
    font-weight: 700;
}

.increase-green{
    color: var(--Lime-Green);
}

.decrease-red{
    color: var(--Bright-Red);
}



/* responsive 480px max width */

@media (max-width:480px){

    header{
        flex-direction: column;
        width: 90%; 
        gap: 2rem;
    }

    .dashboard{
        width: 100%;
    }

    .dashboard-line{
        display: block;
        width: 100%;
        background-color: var(--card-text-color);
        border: none;
        height: .03rem;
    }

    .toggle{
        width: 100%;
        margin: 0;
        justify-content: space-between;
    }

    main{
        width: 90%;
    }

    .profile{
        flex-direction: column;
    }

    .social{
        width: 100%;
    }

    .total-overview{
        grid-template-columns: 1fr;
        width: 100%;

    }




}
